body {
  font-family: Avenir, sans-serif;
}

.container {
  color: rgb(110 110 110);
  width: 90%;
  height: 540px;
  margin: 0 auto;
}

.image-section {
  margin: 0 auto;
}

img {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.overlay {
  background: linear-gradient(transparent, rgb(0 0 0 / 75%));
  position: absolute;
}

.absolute {
  position: absolute;
  width: 33.3%;
  left: 200px;
}

#contact-us {
  font-size: 13px;
  padding: 0.5rem 1.25rem;
  white-space: nowrap;
}

.clinician-container,
footer {
  background-color: rgb(250 250 250);
}

.row {
  display: flex;
  height: 100%;
}

.full-column {
  text-align: center;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Tiempos Headline", serif;
  margin-top: 50px;
}

.header > h1 {
  color: rgb(41 68 100);
}

#nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}

p {
  font-size: 13px;
}

.two-column,
.two-column-company-product {
  margin: 0 auto;
  width: 50%;
  height: 100%;
}

.two-column > p, {
  font-size: 16px;
}

.clinicians,
.canvas-container * p {
  padding-bottom: 10px;
}

.clinician-container * p {
  width: 23rem;
}

.clinician-info {
  margin-bottom: 60px;
}

#clinician-names-1 {
  margin-left: 140px;
}

#clinician-names-2 {
  margin-right: 70px;
}

button {
  background-color: rgb(41 68 100);
  color: white;
  font-size: 16px;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  border: none;
}

#learn-more {
  background-color: white;
  margin: 45px 0;
}

.two-thirds-column {
  margin: auto 90px;
}

#learn-button {
  margin-left: 375px;
  margin-top: 55px;
}

footer {
  display: flex;
  background-color: rgb(250 250 250);
  padding: 1.5rem 0;
}

.bottom {
  font-size: 16px;
  width: 20%;
  margin-left: 90px;
}

.canvas-container {
  background-color: rgb(82 83 81);
  color: white;
  height: 350px;
}

.logo {
  letter-spacing: 0.1rem;
  font-weight: lighter;
  margin-top: 60px;
}

.address {
  font-size: 13px !important;
  line-height: 1.5rem;
}

.logo,
.address {
  margin-left: 90px;
}

.two-column > .logo {
  margin-bottom: 40px;
}

.two-column-company-product {
  padding-top: 60px;
}

.two-column-company-product > p {
  font-size: 16px;
}
